@page "/"
@using System.IO
@using System.Reflection
@using System.Text

<div class="index-section-1" style="height: 80rem;">
    <div style="margin-bottom: 15rem; justify-content: center">
        <h1 style="text-align: center">Your remote developer team.</h1>
        <h1 style="text-align: center">Experts in Cloud, Mobile, .NET, & Blazor.</h1>
    </div>
</div>

<div class="index-section-2">
    <div class="inner-section">
        <h1>Who we are</h1>
        <p>Eugene’s craftiest C#, Web, Mobile, and Cloud development consultancy. Our founders bring more than 30 years of collective experience in building .NET infrastructure. We’ve worked with industry leaders, state & local governments as well as private enterprise large and small. Founded in 2016 to fill a gap in regional C# knowledge, we've expanded lately to embrace popular trends in open web and mobile as well as adding developers with diverse skill sets.</p>
    </div>
    <div class="inner-section">
        <h1>What we do</h1>
        <p>We build teams custom fitted to the specific needs of your project. Our developers have deep platform knowledge in C# and .Net to support your existing systems as well as embracing the latest trends in mobile and cloud computing for your next adventure. We employ local Oregon developers who enjoy the quality of life in Eugene, Oregon.</p>
    </div>
    <div class="inner-section">
        <h1>OPEN TOOLS AND OPEN LEADERSHIP</h1>
        <p>We build teams custom fitted to the specific needs of your project. Our developers have deep platform knowledge in C# and .Net to support your existing systems as well as embracing the latest trends in mobile and cloud computing for your next adventure. We employ local Oregon developers who enjoy the quality of life in Eugene, Oregon.</p>
    </div>
</div>

<div class="index-section-3">
    <h1>Our Work</h1>
    <div style="display: flex; justify-content: space-around">
        <div class="index-section-3-block-top">
           <MarkdownView Content="@remoteTeamBuilding"></MarkdownView>
        </div>
        <div class="index-section-3-block-top">
            <MarkdownView Content="@businessAppsInTheCloud"></MarkdownView>
        </div>
        <div class="index-section-3-block-top">
            <MarkdownView Content="@mobileApps"></MarkdownView>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around">
        <div class="index-section-3-block-bottom">
            <MarkdownView Content="@weLoveDotNet"></MarkdownView>
        </div>
        <div class="index-section-3-block-bottom">
            <MarkdownView Content="@blazorIsTheFuture"></MarkdownView>
        </div>
    </div>
</div>

<div class="index-section-4">
    <div style="position: relative">
        <img id="box1" src="/images/logo2.png" width="300" height="300" style="z-index: 2" />
        <div id="box2">
            <h1>Our team is here to help</h1>
            <p>Shoot us a message and tell us about your project!</p>
            <div style="justify-content: flex-end; align-items: flex-end">
                <NavLink href="contact">
                    Contact Page
                </NavLink>
                <img src="/images/arrow.png" width="100" height="20"/>
            </div>
        </div>
    </div>
</div>

@code
{

    string remoteTeamBuilding;
    string businessAppsInTheCloud;
    string mobileApps;
    string weLoveDotNet;
    string blazorIsTheFuture;

    protected override async Task OnInitializedAsync()
    {
        var assembly = Assembly.GetEntryAssembly();
        var resourceStream = assembly.GetManifestResourceStream("DarkMatterWeb.Markdown.remote-team-building.md");
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            remoteTeamBuilding = await reader.ReadToEndAsync();
        }
        resourceStream = assembly.GetManifestResourceStream("DarkMatterWeb.Markdown.business-apps-in-the-cloud.md");
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            businessAppsInTheCloud = await reader.ReadToEndAsync();
        }
        resourceStream = assembly.GetManifestResourceStream("DarkMatterWeb.Markdown.mobile-apps.md");
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            mobileApps = await reader.ReadToEndAsync();
        }
        resourceStream = assembly.GetManifestResourceStream("DarkMatterWeb.Markdown.we-love-dot-net.md");
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            weLoveDotNet = await reader.ReadToEndAsync();
        }
        resourceStream = assembly.GetManifestResourceStream("DarkMatterWeb.Markdown.blazor-is-the-future.md");
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            blazorIsTheFuture = await reader.ReadToEndAsync();
        }

    }
}
