@page "/showcase"
@using System.IO
@using System.Reflection
@using System.Text
@using DarkMatterWeb.Models
@using DarkMatterWeb.Helpers
@using DarkMatterWeb.Services
@using System.Collections;
@using System.IO;
@using MimeMapping;
@using Microsoft.AspNetCore.Hosting;

@inject AirTableService airTableService

<h1 style="margin-left: 5rem;">Showcase</h1>
<BSCarousel NumberOfItems="@items.Count">

    <BSCarouselIndicators NumberOfItems="@items.Count"/>

    <div class="carousel-inner">

        @foreach (var t in items)
        {
            <BSCarouselItem src="@t.Source" alt="@t.Alt"/>
        }

    </div>

    <BSCarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@items.Count"/>

    <BSCarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@items.Count"/>

</BSCarousel>

@code {

           IList<Item> items = new List<Item>

           {

               new Item
               {

                   Source = "...First Slide",

                   Alt = "First Slide",

                   Caption = "Slide 1",

                   Header = "Slide 1 Header"

               },

               new Item
               {

                   Source = "...Second Slide",

                   Alt = "Second Slide",

                   Caption = "Slide 2",

                   Header = "Slide 2 Header"

               },

               new Item
               {

                   Source = "...Third Slide",

                   Alt = "Third Slide",

                   Caption = "Slide 3",

                   Header = "Slide 3 Header"

               }

           };


       class Item

       {

           public string Source { get; set; }

           public string Alt { get; set; }

           public string Caption { get; set; }

           public string Header { get; set; }

       }

}

 