@using DarkMatterWasm.Shared.Models;

@if (CrewMember == null)
{
    <p>Loading..</p>
}
else
{
<div class="crew-member-card col-md-3 col-sm-5 col-xs-12">
    @if (String.IsNullOrEmpty(CrewMember.Image))
    {
        <img src="@(githubURL + CrewMember.GithubID + png)" style="width: 80px; height: 80px;" />
    }
    else
    {
        <img src="@CrewMember.Image" style="width: 120px; height: 120px;" />
    }
    <div style="display: flex; justify-content: space-around; align-items: center;">
        <h2 style="color: black">@CrewMember.Name</h2>
        <div style="display: flex; justify-content: space-between;">
            @if (!String.IsNullOrEmpty(CrewMember.GithubID))
            {
                <a href="@(githubURL + CrewMember.GithubID)" style="vertical-align: central;"><img src="/images/GitHub-Mark-32px.png" style="width: 20px; height: 20px; margin-right: .5rem;" /></a>
            }
            @if (!String.IsNullOrEmpty(CrewMember.LinkedInURL))
            {
                <a href="@CrewMember.LinkedInURL" style="vertical-align: central;"><img src="/images/LI-In-Bug.png" style="width: 23.5px; height: 20px;" /></a>
            }
        </div>

    </div>
    <p style="color: black">Specialities: @CrewMember.Bio</p>
</div>
}



@code {
    [Parameter]
    public CrewMember CrewMember { get; set; }
    private const string githubURL = "https://github.com/";
    private const string png = ".png?size=80";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
